:root{
    font-size: 62.5%;
}
*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
font-family: montserrat;
}
nav{
background: rgb(183, 255, 147);
height: 5vw;
width: 100%;
align-items: center;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.1);
position: fixed;
z-index: 9000;
}
.navHeader {
    display: flex;
}
/*scroll bar nav to visible or hide*/
.scroll-down  .navbar{
    transform: translate3d(0, -150%, 0);
}
.scroll-up .navbar {
    transition: transform 0.3s;
}

label.logo{
color: rgb(0, 0, 0);
font-size: 6rem;
position: absolute;
margin-left: 8rem;
font-weight: 600;
order: 1;
}
nav ul{
position: absolute;
right: 3rem;
order: 2;

}
nav ul li{
display: inline-block;
margin: 0.7vw;
}
nav ul li a{
color: rgb(0, 0, 0);
font-size: 1.5vw;
text-transform: uppercase;
padding: .3vw 1vw;
border-radius: .4vw;
}
.mobileHome {
    display: block;
}
.nav-btn-font {
font-family: 'Signika Negative';
}
.nav-btn-font-mandarin {
font-family: 'Noto Sans SC';
}
a.active,a:hover{
background-color: rgb(3, 138, 19);
color: #ffffff;
}
a:hover{
background-color: rgb(0, 199, 0);
transition: 0.3s;
}
.checkbtn{
font-size: 8vw;
color: rgb(224, 253, 253);
position: static;
cursor: pointer;
display: none;
}

#check{
display: none;
}
.seperate{
display: none;
}
.image {
height: 100%;
background: url("../images/DSC03379.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.t1{
font-size: 10rem;
font-weight: 500;
color: rgb(0, 0, 0); 
}
.home-1-mandarin {
font-family: 'ZCOOL KuaiLe', 'Noto Sans SC';
}
.home-1-english {
font-family: 'Signika Negative', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btnlanguage-element-grid {
display: grid;
width: 100%;
height: 25rem;
grid-template-columns: 1fr 30rem 10rem;
grid-template-rows: 1fr 10rem;
grid-template-areas: 
"left-btnlanguage left-btnlanguage left-btnlanguage"
". position-btnlanguage right-btnlanguage";
}
.left-btnlanguage {
    height: 100%;
    grid-area: left-btnlanguage;
}
.right-btnlanguage {
    grid-area: right-btnlanguage;
}
.grid-between-btnlanguage-home-1 {
    display: grid;
    gap: 1rem;
}
.home-1 {
height: fit-content;
display: flex;
}
.home-1-box{
width: fit-content;
padding: 4rem 4rem;
background-color: rgba(255, 255, 255, 0.418);
border-radius: 1rem;
display: block;
}
.home-1-box-left {
flex: 1;
}
.home-1-box-right {
flex: 2;
}
.home-2{
display: block;
width: 100%;
}
.home-1-p1{
font-size: 5rem;
color: #000000;
font-weight: 500;
font-style: italic;
}
.home-2-title {
text-align: center;
font-size: 7rem;
font-weight: 100;
}
.english{
display: none;
}
.position-btnlanguage {
    height: 100%;
    align-items: end;
    grid-area: position-btnlanguage;
}
.btnlanguage{
font-size: 4rem;
background-color: rgb(37, 112, 0);
color: rgb(255, 255, 255);
padding: 1rem 2rem;
border-radius: 1.5rem;
border-color: white;
border-style: solid;
transition: 0.3s;
}
.btnlanguage:hover{
background-color: rgb(0, 199, 0);
}
.home-2-bg-circle {
background-image: url("../images/circle.png");
z-index: 100;
height: 100rem;
}
.home-2-bg {
background-color: rgb(243, 253, 239);
}
.english .home-2-p2 {
font-size: 5rem;
}
.home-3 {
background-color:rgb(183, 255, 147);
height: fit-content;
display: grid;
gap: 4rem;
position: absolute;
width: 100%;
justify-content: center;
}
.home-3-top {
    justify-self: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.home-3-container {
background-color: #ffffffea;
border-radius: 3rem;
margin-bottom: 10rem;
width: 130rem;
}
.home-3-arrange {
margin-top: 2rem;
margin-bottom: 2rem;
margin-left: 2rem;
margin-right: 2rem;
display: grid;
gap: 2rem;
}

.home-3-title {
font-size: 7rem;
width: fit-content;
text-align: center;
}
.home-3-title-english {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.home-3-1 {
font-size: 4rem;
}
.home-3-p {
margin: 0;
display: grid;
gap: 3rem;
}
.small-title-mandarin {
    font-family:'Noto Serif sc';
    font-style: italic;
    font-size: 4rem;
    font-weight: 700;
}
.under-small-title-mandarin {
    font-family: 'Noto Serif sc';
    font-weight: 500;
    color: #000000;
    font-size: 3.5rem;
}
.small-title-english {
    font-family:'Roboto';
    font-style: italic;
    font-size: 4rem;
    font-weight: 700;
}
.under-small-title-english {
    font-family: 'Roboto';
    font-weight: 400;
    color: #000000;
    font-size: 3.5rem;
}

.home-3-1-image {
background-image: url("../images/earth.png");
}
.home-3-2-image {
    background-image: url("../images/obese-and-normal.png");
}
.home-3-3-image {
    background-image: url("../images/economical.png");
}
.home-3-image {
    height: 30rem;
background-repeat: no-repeat;
background-size: 100%;
width: 40rem;
border: 0.4rem solid #a87600dc;
box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.271);
border-radius: 4px;
padding: 5px;
}
.home-3-item {
display: grid;
grid-template-columns: 40rem 1fr;
height: fit-content;
justify-content: center;
align-items: center;
gap: 1rem;
}
/*@media (max-width: 952px){
nav{
height: 6vw;
}
label.logo{
font-size: 4vw;
line-height: 6vw;
}
nav ul li{
line-height: 6vw;
}

}
@media (max-width: 858px){
nav{
height: 9vw;
}
label.logo{
font-size: 8vw;
line-height: 9vw;
}
nav ul li{
line-height: 9vw;
}
nav ul li a{
font-size: 1.8vw;
padding: .3vw 1vw;
border-radius: .4vw;
}
}*/
@media (max-width: 1300px) {
.home-3-container {
background-color: #ffffff;
width: 95%;
margin-bottom: 10rem;
justify-self: center;
}
}
@media (max-width: 980px){
nav{
height: 14rem;
justify-content: space-evenly;
}
label.logo{
width: max-content;
font-size: 12rem;
margin-left: 0;
position: static;
order: -2;
}
.hide{
    display: none;
}
.checkbtn{
    display: block;
    z-index: 2000;
    width: 6rem;
    position: static;
    order: 2;
}


.image {
height: 75%;
}
.seperate {
    width: 100%;
    height: 100vh;
    display: block;
    background-color: rgba(255, 255, 255, 0.89);
    top: 0px;
    left: -100%;
    position: fixed;
    transition: all .5s;
    z-index: 1000;
}
.seperate-container {
    margin-top: 20rem;
}
.seperate li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    margin: 15rem;
}
.seperate li a{
    font-size: 9vw;
    padding: 2rem 4rem;
    border-radius: 1.4rem;
    color: rgb(0, 0, 0);
}
    nav ul li .active{
    font-size: 7vw;
    padding: 0.5rem 1rem;
    border-radius: .6vw;
    border-style: solid;
    border-color: #ffffff;
    background-color: rgb(90, 255, 45);
    color: #000000;
    position: static;
    align-self: center;
}
nav ul {
    position: static;
    order: -1;
}
nav ul li{
display: inline-flex;
margin: 0.7vw;
flex: 1;
}
.seperate li a:hover{
    background-color: rgba(99, 254, 22, 0.573);

}
.icon-menu {
    height: 100%;
    order: 3;
    align-items: center;
}
#check:checked ~ .seperate {
    left: -1;
}
.bar1, .bar2, .bar3 {
width: 60px;
height: 9px;
border-radius: 4.5px;
background-color: #000000;
margin: 12px 0;
transition: 0.3s; 
}

.iconchange .bar1 {
transform: translate(0, 21.05px) rotate(-45deg);
}

.iconchange .bar2 {opacity: 0;}

.iconchange .bar3 {
transform: translate(0, -21.05px) rotate(45deg);
}

.btnlanguage-element-grid {
display: grid;
width: 100%;
height: 28rem;
grid-template-columns: 1fr 30rem 10rem;
grid-template-rows: 1fr 10rem;
grid-template-areas: 
"left-btnlanguage left-btnlanguage left-btnlanguage"
". position-btnlanguage right-btnlanguage";
}
.btnlanguage{
font-size: 5.5rem;
color: rgb(255, 255, 255);
padding: 1.3rem 2.5rem;
border-radius: 2rem;
right: 5rem;
top: 16rem;
}

.t1{
font-size: 10rem;
color: rgb(0, 0, 0);
}
.grid-between-btnlanguage-home-1 {
    gap: 10rem;
}
.home-1 {
height: fit-content;
}
.home-1-box{
margin-left: 2rem;
top: 35rem;
margin-right: 2rem;
padding: 4rem 4rem;
border-radius: 1rem;
}
.home-1-p1{
font-size: 6rem;
color: #000000;
}
.home-2{
display: block;
}
.home-2-p2 {
font-size: 7rem;
font-weight: 100;
font-family: 'Noto Sans SC', sans-serif;
}
.home-3 {
    background-color:rgb(183, 255, 147);
    height: fit-content;
    display: grid;
    gap: 4rem;
    position: absolute;
    width: 100%;
    justify-content: center;
    }
.home-3-title {
font-size: 8rem;
}
.home-3-1 {
font-size: 5rem;
}

.home-3-image {
    height: 30rem;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40rem;
    grid-area: home-3-image;
    justify-self: center;
    }
.home-3-p {
    margin: 0;
    grid-area: home-3-p;
    }
.home-3-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30rem 1fr;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "home-3-image"
    "home-3-p";
    }
    .home-3-container {
        border-radius: 3rem;
        margin-bottom: 10rem;
        width: 95%;
        }


@media (orientation: landscape) {
nav{
    height: 7rem;
    justify-content: space-evenly;
}
.hide{
    display: block;
}
.seperate{
display: none;
}
nav ul{
position: static;
display: flex;
flex-direction: row;
align-items: center;
}
nav ul li{
display: block;
}
nav ul li a{
color: rgb(0, 0, 0);
font-size: 2.5rem;
text-transform: uppercase;
padding: .3vw 1vw;
border-radius: .4vw;
}
a.active,a:hover{
background-color: rgb(3, 138, 19);
color: #ffffff;
}
a:hover{
background-color: rgb(0, 199, 0);
transition: 0.3s;
}
nav ul li .active{
color: rgb(0, 0, 0);
font-size: 2.5rem;
text-transform: uppercase;
padding: .3vw 1vw;
border-radius: .4vw;
position: static;
} 
.checkbtn{
display: none;
}
label.logo{
font-size:7rem;
position: static;
width: max-content;
}
.image{
height: 140%;
}
.btnlanguage{
font-size: 3rem;
color: rgb(255, 255, 255);
padding: 1.3rem 2.5rem;
border-radius: 2rem;
right: 5rem;
top: 9rem;
}
.t1{
font-size: 8rem;
color: rgb(0, 0, 0);
}
.btnlanguage-element-grid {
    display: grid;
    width: 100%;
    height: 18rem;
    grid-template-columns: 1fr 30rem 10rem;
    grid-template-rows: 1fr 9rem;
    grid-template-areas: 
    "left-btnlanguage left-btnlanguage left-btnlanguage"
    ". position-btnlanguage right-btnlanguage";
    }
.grid-between-btnlanguage-home-1 {
    gap: 1rem;
}
.home-1-box{
left: 2rem;
top: 20rem;
margin-right: 2rem;
padding: 4rem 4rem;
border-radius: 2rem;
}
.home-1-p1{
font-size: 4rem;
color: #000000;
}
.home-2{
display: block;
}
.home-2-title {
    font-size: 6rem;
    }
.home-3-title {
font-size: 6rem;
}
.home-3-1 {
font-size: 4rem;
}

}
}
